@charset "utf-8";
header .big{height: 80px; background: #F8F8F8;}
header .big .logo img{width: 120px;}
header .big .logo{margin: 15px;}
header .big .peisong{width:310px;margin-left: 10px;overflow: hidden;line-height: 40px;padding-top: 13px;}
header .big .peisong span{width:60px; height: 40px;}
header .big .peisong .diqu{width: 200px;height:40px;border: 1px solid #F1F0F0;border-radius: 10px;}
header .big .peisong .diqu li{width:50px;height: 20px; float: left;text-align: center;}
header .big .peisong .diqu li a{border-right: 1px solid #ccc;padding-right: 10px;}
header .big .peisong .diqu li:nth-child(4) a{border: none;}
header .big .peisong .diqu li:hover a{text-decoration: none;}
header .big .look{width: 300px;}
header .big .look .look-up {margin-top: 15px;border: 1px solid #F0EEEE;border-radius: 8px;}
header .big .look .look-up input{width:298px;height:35px;border:none; background:url(../images/che-fdj.jpg) no-repeat right center;}
/*main*/
main{width: 100%;overflow: hidden; background: #F8F8F8;}
main .che-up{overflow: hidden;}
main .che{width: 100%; padding-top: 10px;margin-bottom: 10px;height: 880px;}
main .che .quanxuan{width:100%;height: 40px; border: 1px solid #DFDFDF;border-radius: 8px;line-height: 40px;background-color: #fff;}
main .che .quanxuan dt{position: relative;}
main .che .quanxuan dt img{position: absolute; left: 7px ;top: 13px;display: none;}
main .che .quanxuan dt:hover img{display: block;}
main .che .quanxuan dd{float: left;margin-left: 100px;}

main .che .dianming{width:100%;height: 40px; border: 1px solid #DFDFDF;border-radius: 8px;line-height: 40px;background-color: #fff;margin-top: 25px;}
main .che input[type="checkbox"]{
    -webkit-appearance: none;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    background: #fff url(../images/gou.jpg) no-repeat;
    margin: 5px 10px;
}
main .che  input[type="checkbox"]:checked{
    background-position: -48px;
    outline: none;
}
main .che #meili{width: 100%;overflow:hidden;border: 1px solid #DFDFDF;margin: 20px 0;border-radius: 8px;background-color: #fff;}
main .che #meili #m-list{width:100%;height:400px;}
main .che #meili #m-list .change{background:#FFF7F7;}
main .che #meili #m-list .shangpin{width:100%;height:120px;background: #fff;border-bottom: 1px dashed #ccc;padding-top: 20px;}

main .che #meili #m-list .shangpin span:nth-child(2) .c{
    width: 75px;height: 75px;
    vertical-align: middle;
}
main .che #meili #m-list .shangpin span:nth-child(3) {
    display:inline-block;
    width: 250px;
    height: 80px;   
}
main .che #meili #m-list .shangpin span:nth-child(3) .product-name{
    display:inline-block;
    width: 250px;
    height: 40px;
    overflow: hidden;
    line-height: 20px;
}
main .che #meili #m-list .shangpin span:nth-child(3) .product-select{
    display:inline-block;
    width: 250px;
    height: 20px;

}
main .che #meili #m-list .shangpin span:nth-child(3) .product-xuan{
    color: #ccc;
    text-indent: 20px;
    border: 1px dashed #999
    
}
main .che #meili #m-list .shangpin span{padding: 0 10px;}
main .che #meili #m-list .shangpin span:nth-child(4){
    padding-left: 100px;

    display: inline-block;
    width: 20px;
}
main .che #meili #m-list .shangpin span:nth-child(5){
    padding: 0 60px;
    display: inline-block;
}
main .che #meili #m-list .shangpin span:nth-child(5) a{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
main .che #meili #m-list .shangpin span:nth-child(5) input{
    display: inline-block;
    width: 25px;
    padding:-3px;
    margin: 0;
    text-align: center;
    outline: none;
}
main .che #meili #m-list .shangpin span:nth-child(6){
    font-weight: bold;

}
main .che #meili #m-list .shangpin span:nth-child(7){
    padding: 0 25px;
}
main .che #meili #m-list .shangpin span:nth-child(7) a{
    display: inline-block;
    width: 20px;
    height: 20px;
}

main .jiesuan{width:100%;height:60px;background-color: #fff;}
main .jiesuan dl{padding-top: 20px;}
main .jiesuan dl dt img{vertical-align: middle;padding-right: 10px;}
main .jiesuan dl dt a:nth-of-type(1){border-right: 1px solid #999;}
main .jiesuan dl dt a:nth-of-type(1) b{color: #f00;padding: 0 3px;}
main .jiesuan dl dt a:nth-of-type(2){color: #999;padding-left: 10px;}
main .jiesuan dl dt a:nth-of-type(2):hover {color:#f00; }
main .jiesuan dl dt a:hover{text-decoration: none;}

main .j-right{width: 360px;}
main .j-right div{float: left;color: #000;line-height: 20px;padding-left: 5px;height: 20px;margin-top:20px; }
main .j-right .gong {width: 100px;padding-right: 5px;margin-right: 10px;}
main .j-right .gong b{color: #f00;padding: 0 2px;}
main .j-right .he{border-left:1px solid #999;margin-right: 10px;}
main .j-right .he span{color: #f00;font-size: 20px;}
main .j-right .jie{width: 80px;height: 60px;background: #FF6C6C;margin-top: 0;line-height: 60px;font-size: 20px;font-weight: bold;color: #fff;text-align: center;padding-left: 0;margin:0 0 40px 20px;}
