<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的购物车-1号店</title>
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/gouwu.css">
</head>
<body>
	<header>
		<nav class="litList">
			<div class="center">
				<span>
				一号店首页
				</span>
				<ul>
					<li><a href="#">Hi,请登录</a></li>
					<li><a href="#">注册</a></li>
					<li><a href="#">我的订单</a></li>
					<li><a href="#">客户服务</a></li>
					<li><a href="#">App下载</a></li>
				</ul>
			</div>		
		</nav>
		<nav class="big">
			<div class="center">
				<div class="logo"><img src="images/logo3.jpg"></div>
				<div class="peisong fl">
					<span class="fl">配送至：</span>
					<ul class="diqu fl">
						<li><a href="#">上海</a></li>
						<li><a href="#">静安区</a></li>
						<li><a href="#">城区</a></li>
						<li><a href="#">∧</a></li>
					</ul>
				</div>
				<div class="look fr ">
					<div class="look-up clearfix">
						<input type="text" placeholder="请输入关键词">
					</div>
				</div>		
			</div>
		</nav>
	</header>
	<main>
		<div class="center che-up">
			<div class="che" id="dis">
				<dl class="quanxuan dianming">
					<dt class="fl">
							<span v-if="isSelectAll==false"  @click="selectAll(),select=!select"><img src="images/no.png">全选</span>
							<span v-else="isSelectAll==true"  @click="selectNone(),select=!select"><img src="images/gou.jpg">全选</span>
					</dt>
					<dd>商品信息</dd>
					<dd>单价（元）</dd>
					<dd>数量</dd>
					<dd>小计（元）</dd>
					<dd>操作</dd>
				</dl>
				<dl class="dianming">
						<span v-if="isSelectAll==false"  @click="selectAll(),select=!select"><img src="images/no.png">壹玖美丽化妆品专营店</span>
						<span v-else="isSelectAll==true"  @click="selectNone(),select=!select"><img src="images/gou.jpg">壹玖美丽化妆品专营店</span>
				</dl>
				<div id="meili">
					<ul id="m-list">
						<li v-for="product in productList" class="shangpin" >	
							<span v-if="product.select==false"  @click="product.select=!product.select"><img src="images/no.png"></span>
                            <span v-else="product.select==true"  @click="product.select=!product.select"><img src="images/gou.jpg"></span>
							<span><img :src="product.img" class="c"></span>
							<span>
								<span class="product-name"><a href="#">{{product.name}}</a></span><br>
								<span class="product-select"><img src="images/tian7.jpg" alt="">
								<span class="product-xuan "> {{product.kuan}}</span>
								</span>
						</span>
							<span class="product-price">{{product.price}}.00</span>
							<span>
							<a class="btn" @click="product.num--">-</a>
                            <input type="text" class="msg" v-model="product.num" style="text-align: center;"></input>
                            <a class="btn" @click="product.num++">+</a>
							</span> 
							<span>
								{{product.num*product.price}}.00
							</span>
							<span>
								<img src="images/shoucang.jpg" alt="">
								<img src="images/del.jpg" alt="" @click.stop="del(index)">
							</span>
						</li>
					</ul>
				</div>
				<div class="jiesuan">
				<div class="center">
				<dl class="fl">
					<dt class="fl">
							<span v-if="isSelectAll==false"  @click="selectAll(),select=!select"><img src="images/no.png">全选</span>
							<span v-else="isSelectAll==true"  @click="selectNone(),select=!select"><img src="images/gou.jpg">全选</span>（共<b>{{getTotal.totalNum}}</b>件）</span></a>
					<a class="d-btn" @click="deleteGoods()">删除选中商品</a>
					</dt>				
				</dl>
				<div class="j-right fr">
					<div class="gong">已选商品{{getTotal.totalNum}}件 <span><a href="#">预览</a></span></div>
					<div class="he">合计：{{getTotal.totalPrice}}元</span></div>
					<div class="jie" >结算</div>
				</div>
				
			</div>
				</div>
			</div>
		</div>
	</main>
<footer>
	<div class="center">
		<div class="f-up">
			<ul>
				<li>
					<p>正品保证</p>
					<p>正品行货 放心选购</p>
				</li>
				<li>
					<p>满86包邮</p>
					<p>满86包邮 免运费</p>
				</li>
				<li>
					<p>售后无忧</p>
					<p>7天无理由退货</p>
				</li>
				<li>
					<p>准时送达</p>
					<p>收货时间由你做主</p>
				</li>
			</ul>
		</div>
		<div class="f-down">
			<dl>
				<dt>新手入门</dt>
				<dd>购物流程</dd>
				<dd>会员制度</dd>
				<dd>订单查询</dd>
				<dd>发票制度</dd>
				<dd>网站地图</dd>
			</dl>
			<dl>
				<dt>支付方式</dt>
				<dd>货到付款</dd>
				<dd>网上支付</dd>
				<dd>礼品卡支付</dd>
				<dd>其它支付</dd>
			</dl>
			<dl>
				<dt>配送服务</dt>
				<dd>配送进度查询</dd>
				<dd>商品验货与签收</dd>
			</dl>
			<dl>
				<dt>售后保障</dt>
				<dd>退换货政策</dd>
				<dd>联系客服</dd>
			</dl>
			<div class="er1 fl">
				<h4>APP更优惠</h4>
				<img src="images/app.png">
			</div>
			<div class="er2 fl">
				<h4>加微信查订单</h4>
				<img src="images/weixin.jpg">
			</div>
		</div>
		<div class="di">
			沪ICP备16050468号 |经营证照 | 互联网药品信息服务资格证 | 举报电话：0527-88100253 | 沪B2-20170039 | 沪公网安备 31010502002939号 | 友情链接 | 出版物经营许可证
			<br>
			Copyright© 1号店网上超市 2007-2017，All Rights Reserved
		</div>
		<div class="shangbiao center">
			<img src="images/shangjia1.jpg">
			<img src="images/shangjia2.jpg">
			<img src="images/shangjia3.jpg">
			<img src="images/shangjia4.png">
			<img src="images/shangjia5.jpg">
		</div>
	</div>
</footer>
<script src="js/vue.js"></script>
<script>
	new Vue({
    el: '#dis',
    data: {
        productList: [{
                'name': '迪奥（Dior） 【七夕情人节礼品】Dior迪奥口红女士唇膏 烈艳蓝金999+520（爱你久久）',
				'kuan':'烈艳蓝金999+520（爱你久久）',
                'price': 538,
				'img':'images/dior.jpg',
				'weight':'0.26kg',
				'num':1,
            },
            {
                'name': '古驰（GUCCI）罪爱女用淡香水 30ml（又名：古驰（GUCCI）罪爱女士淡香水 30ml ) 七夕情人节礼物',
				'kuan':'罪爱女  30ml',
                'price': 89,
				'img':'images/gucci.jpg',
				'weight':'0.28kg',
				'num':2

            },
            {
                'name': '莫杰（MARC JACOBS）雏菊女士香水50ml（又名：莫杰雏菊女士淡香氛）七夕情人节礼物',
				'kuan':'雏菊 50ml',
                'price':379,
				'img':'images/marc.jpg',
				'weight':'0.22kg',
				'num':2
            },	
        ],
		total: 0,
		select: false,
    },
    methods: {
		selectAll: function () {
                for (var i = 0; i < this.productList.length; i++) {
                    this.productList[i].select = true;
                }
            },
        selectNone: function () {
                for (var i = 0; i < this.productList.length; i++) {
                    this.productList[i].select = false;
                }
            },
		del(index){
             this.productList.splice(index,1);//splice(删除位置,删除数量)
             //console.log(this.productList[index].name);
         },
		deleteGoods: function () {
                this.productList = this.productList.filter(function (item) {
                    return !item.select
                });
            },
    },
	computed: {
            isSelectAll: function () {
                //如果每一条数据的select都为true，返回true，否则返回false;
                return this.productList.every(function (val) {
                    return val.select
                });
            },
            getTotal: function () {
                //获取productList中select为true的数据。
                var _proList = this.productList.filter(function (val) {
                        return val.select
                    }),
                    totalPrice = 0;
                for (var i = 0, len = _proList.length; i < len; i++) {
                    //总价累加
                    totalPrice += _proList[i].num * _proList[i].price;
                }
                //选择产品的件数就是_proList.length，总价就是totalPrice
                return {
                    totalNum: _proList.length,
                    totalPrice: totalPrice
                }
            },
        },
		mounted: function () {
            var _this = this;
            this.productList.map(function (product) {
                _this.$set(product, 'select', false);
            })
        }
});
</script>
</body>
</html>