@charset "utf-8";
/* CSS Document */
body,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{ margin:0; padding:0}
body{ font-size:12px; line-height:1.7em; color:#666;}
ul{ list-style:none}
img{ border:none}
a{ text-decoration:none; color:#666;}
a:hover{ text-decoration:underline;}
.fl{ float:left}
.fr{ float:right}
.center{ width:1000px; margin:0 auto;}
a:hover img {
	filter: alpha(opacity=80);
	opacity: 0.8;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
.clearfix:after{
   content:".";/*加一段内容*/
   display:block;/*让生成的元素以块级元素显示，占满剩余空间*/
   height:0;/*避免生成的内容破坏原有布局高度*/
   clear:both;/*清除浮动*/
   visibility:hidden;/*让生成的内容不可见*/
  }
 .clearfix{zoom:1;/*为IE6，7的兼容性设置*/}



header{width: 100%;height:100px;background: #000;position: fixed; z-index: 1000; overflow: hidden;};
header .logo{padding:5px 20px;} 
header nav ul{width: 700px;height: 100px;}
header nav ul li{float: left;padding-left: 40px;font-size: 16px;}
header nav ul li a{width: 90px; color: #fff; display: block;transition: all 0.5s;text-align: center;}
header nav ul li a span{display: block;line-height: 100px;}
header nav ul li a:hover {color:#27C47B;margin-top: -100px;}

/*banner*/
#banner{height: 640px;background:url(../images/banner.jpg) no-repeat 
	center center fixed;} 
#banner p{font-size: 58px;color: #fff;text-align: center;padding-top:350px; font-style:italic;transition:all 1s;opacity: 0;}
#banner:hover p{opacity: 1;}
.btn{width: 110px;height: 34px;background: #6aca71;border-radius:90px;margin: auto;margin-top: 100px;
font-size: 18px;text-align: center;line-height: 34px;}
.btn a{color: #fff;}
.btn:hover a{font-size: 20px;text-decoration: none;}

footer{height:350px;background:url(../images/footer-bg.jpg) no-repeat center center;}
footer .lianxi{height: 280px;border-bottom: 1px dotted #fff;}
footer dl{float: left;font-size:16px; color:#fff;padding-top: 50px;line-height: 32px;margin-left: 50px;height: }
footer dl:nth-of-type(1){width:290px;}
footer dl:nth-of-type(1) dt{margin: 20px left;}
footer dl:nth-of-type(1) dd{font-size: 12px;}
footer dl:nth-of-type(2){width: 170px;}
footer dl:nth-of-type(2) dt{margin: 20px left;}
footer dl:nth-of-type(2) dd li a{font-size: 12px;color: #fff;}
footer dl:nth-of-type(3){width: 350px;}
footer dl:nth-of-type(3) dt{margin:0 20px;}
footer dl:nth-of-type(3) dd li{width: 80px;height: 80px;float: left;margin: 10px;}
footer .banq{color: #fff; text-align: center; line-height: 50px;}
footer img{float: right;width: 50px;height:50px; margin-right:30px;padding-top: 5px;}